body {
    background-color:#00ffff;
    background-image: url("");
    text-decoration: double;

}
h1 {
    color:orange;
    font-family: sans-serif;
}

#wrapper {
    color: rgba(red, green, blue, 5.00);
    text-align: center;
    stop-color: aliceblue;
}

.centre {
    range: auto;
    color: rgba(red, green, blue, 10.00);
    flood-color: greenyellow;
    additive-symbols: -moz-element("std");
}

script {
    src: inherit;
}

output {
    -webkit-animation: alternate;
    -moz-animation: alternate;
    -ms-behavior: inherit;
    -o-animation: alternate;
}
